<h1>Add a New Contact</h1>

<form action='/contact_success' method="post">
  <div class="form-group">
    <label for="name">Add a Contact</label>
    <input id="name" name="name" class="form-control" type="text">
  </div>
  <button type="submit" class="btn btn-default">Save</button>
</form>