<h1><%= @contact.name() %></h1>

<address>
  <%= @contact.name() %><br>


</address>

<h1>Add a New Phone Number</h1>

<form action='/phone_success' method="post">
  <input id='contact_id' name='contact_id' type='hidden' value='<%= @contact.id() %>'>
  <div class="form-group">
    <label for="phone_type">What Type of Phone</label>
    <input id="phone_type" name="phone_type" class="form-control" type="text">
  </div>
  <div class="form-group">
    <label for="number">Phone Number</label>
    <input id="number" name="number" class="form-control" type="text">
  </div>
  <button type="submit" class="btn btn-default">Save</button>
</form>